/* pages */

* {

    font-family: 'Georgia';
}

body {

    background-image: url('resources/cramming.png');
}

.main {

    
    text-align: center;
    display: block;
}

.questions1 {

    display: none;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.questions2 {

    display: none;
    text-align: center;
}

.diagram {

    display: none;
    text-align: center;
}

/* forms */

#first-form {

    margin: -70px;
    background-image: url('resources/cramming-study-method.jpg')
}
#first-form div {

    margin-bottom: 30px;
    opacity: 1;
}

#added-lecture-form {

    background-image: url('resources/Student-Overwhelmed.jpg');
    margin-left: -50px;

}

/* buttons */

#previous-page-button {

    background-color: red;
    position: fixed;
    color: white;
    bottom: 0;
    left: 0;
    display: none;
    width: 200px;
    height: 71px;
    font-size: 25px;

}

#next-page-button {

    background-color: green;
    position: fixed;
    color: white;
    opacity: 1;
    bottom: 0;
    right: 0;
    display: none;
    width: 200px;
    height: 71px;
    font-size: 25px;

}

#next-page-button:hover {

    color: lime;
    opacity: 0.6;
}

#previous-page-button:hover {

    color: orange;
    opacity: 0.6;
}

/* title page */
#lecture-cram-planner-title {

    margin: -10px;
    font-size: 110px;
    color: white;
    border: 5px solid red;
    background-color: red;

}

#startbutton {

    background-color: green;
    color: white;
    font-size: 50px;
    margin: 90px;

    width: 500px;
    height: 300px;
}

#startbutton:hover {

    background-color: lime;
}

#mission-statement {

    color: white;
    font-size: 25px;
    border: 5px solid orange;
    background-color: orange;
}

#author {

    font-size: 50px;
    color: white;
    bottom: 0px;
    margin: 150px;
    border: 5px solid red;
    background-color: red;
}

/* form */

#activity-form div {

    margin-bottom: 20px;
}

#form-title {

    display: none;
    margin: -20px;
    font-size: 80px;
    color: white;
    border: 5px solid brown;
    background-color: brown;
    text-align: center;
    margin-bottom: 50px;

}

.questions2 div {

    margin-bottom: 25px;

}

.questions2 p {

    margin-bottom: 25px;
}

#lectures {

    margin-top: 50px;
}

#lecture-heading-info {

    margin-left: -80px;

}

/* DIAGRAM */

#diagram-title {

    color: white;
    border: 5px solid red;
    background-color: red;
    font-size: 60px;
    margin: -8px;
}

#time-to-catch-up {

    color: red;
    border: 5px solid white;
    height: 20.25px;
    background-color: white;
    margin: -8px;
    text-align: left;

}

.diagram-times {

    font-size: 15px;
    margin-left: -8px;

}

.diagram-times div {

    border: 1px solid black;
    width: 240px;
    height: 28.25px; 
    background-color: white; 
    color: black;

}

.monday-slots div {

    width: 240px;
    height: 28.25px; 
    background-color: white;
    position: absolute; 
    color: black; 
    border: 1px solid black;

}

.tuesday-slots div {

    width: 240px;
    height: 28.25px; 
    background-color: white;
    position: absolute;  
    color: black; 
    border: 1px solid black;

}

.wednesday-slots div {

    width: 240px;
    height: 28.25px; 
    background-color: white;
    position: absolute;  
    color: black; 
    border: 1px solid black;

}

.thursday-slots div {

    width: 240px;
    height: 28.25px; 
    background-color: white;
    position: absolute;  
    color: black; 
    border: 1px solid black;

}

.friday-slots div {

    width: 240px;
    height: 28.25px; 
    background-color: white;
    position: absolute; 
    color: black; 
    border: 1px solid black;

}

.saturday-slots div {

    width: 240px;
    height: 28.25px; 
    background-color: white; 
    position: absolute; 
    color: black; 
    border: 1px solid black;

}

.sunday-slots div {

    width: 240px;
    height: 28.25px; 
    background-color: white; 
    position: absolute; 
    color: black; 
    border: 1px solid black;

}
